html, body {
    margin: 0; padding: 0;
}

body {
    font-family: Helvetica, Arial, Sans-serif;
    font-size: 16px;
}

#main {
    border: 1px solid #ddd;
    margin: 0 auto; padding: 1em;
    width: 960px;
}
